.MuiDialog-paper {
  background-color: #394110 !important;
  color: #e4bf89 !important;
}

button {
  background-color: #394110 !important;
  color: #e4bf89 !important;
}

button:hover {
  background-color: #5f6d30 !important;
}

.input-error label {
  color: #d32f2f !important;
}

.input-success label {
  color: #5f6d30 !important;
}

.input-error input,
.input-error textarea,
.input-error fieldset {
  color: #d32f2f !important;
  border-color: #d32f2f !important;
}

.input-success input,
.input-success textarea,
.input-success fieldset {
  color: #5f6d30 !important;
  border-color: #5f6d30 !important;
}

.MuiCardHeader-subheader {
  color: #5f6d30 !important;
  text-transform: capitalize;
}

.MuiTooltip-tooltip {
  background-color: #e4bf89 !important;
  color: #394110 !important;
}
