.menu-links,
.MuiMenu-paper {
  display: none !important;
}

.MuiPopover-paper > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4bf89 !important;
}

@media (max-width: 850px) {
  .navbar-links {
    display: none;
  }
  .menu-links,
  .MuiMenu-paper {
    display: block !important;
  }

  .MuiMenuItem-gutters,
  .MuiMenuItem-gutters > a,
  .MuiMenuItem-gutters > button,
  .MuiMenuItem-gutters > a > button {
    width: 100% !important;
  }
}
