body {
  background-image: url('/src/images/background-image.png');
  background-color: #39411099 !important;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 6% !important;
}

